//-
//- Copyright (c) 2016, Mathias Küsel
//- MIT License <https://github.com/mathiask88/node-snap7-testsuite/blob/master/LICENSE>
//-
head
  title #{title}
  meta(charset="UTF-8")
  link(href="/inc/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen")
  script(src="/inc/jquery/jquery-2.1.1.min.js")
  script(src="/inc/bootstrap/js/bootstrap.min.js")
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io.connect(window.location.host);
